.claro .dijitCalendar {
  border: solid 1px #b5bcc7;
  background-color: #d4ebff;
  background-image: url("images/calendarContainerImages.png");
  background-position: 0px -448px;
  background-repeat: repeat-x;
  text-align: center;
  padding: 6px 5px 3px 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.claro .dijitCalendar img { border: none; }
.claro .dijitCalendarHover {
  background-color: #b7dcff;
  border: solid 1px #769dc0;
}
.claro .dijitCalendarActive {
  background-color: #b7dcff;
  border: solid 1px #769dc0;
}
.claro .dijitCalendarMonthContainer th {
  text-align: center;
  padding-bottom: 4px;
  vertical-align: middle;
}
.claro .dijitCalendarMonthLabel {
  color: #000000;
  font-size: 1.091em;
  padding: 0px 4px;
}
.claro .dijitCalendarIncrementControl {
  width: 18px;
  height: 16px;
  background-image: url("images/calendarArrows.png");
  background-repeat: no-repeat;
}
.claro .dijitCalendarIncrease { background-position: -18px 0px; }
.claro .dijitCalendarArrowHover .dijitCalendarDecrease { background-position: -36px 0px; }
.claro .dijitCalendarArrowHover .dijitCalendarIncrease { background-position: -55px 0px; }
.claro .dijitCalendarArrowActive .dijitCalendarDecrease { background-position: -72px 0px; }
.claro .dijitCalendarArrowActive .dijitCalendarIncrease { background-position: -91px 0px; }
.claro .dijitA11ySideArrow { display: none; }
.claro .dijitDayLabels th {
  padding: 0px 4px 0px 4px;
  border-bottom: solid 1px #99b5cd;
  font-weight: bold;
  text-align: center;
}
.claro .dijitCalendarDayLabelTemplate {
  padding-bottom: 0em;
  text-align: center;
  border-bottom: 1px solid #99b5cd;
  font-size: 0.909em;
  padding: 0 3px 2px;
}
.claro .dijitCalendarDateTemplate {
  text-align: center;
  background-color: #ffffff;
  background-image: url("images/calendarContainerImages.png");
  background-position: 0px 0px;
  background-repeat: repeat-x;
  border-bottom: 1px solid #dadde1;
  padding-top: 0px;
  font-size: 0.909em;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
}
.claro .dijitCalendarPreviousMonth {
  background-color: #ebf3f9;
  background-image: none;
  border-bottom: solid 1px #d2dae8;
  color: #547da1;
}
.claro .dijitCalendarNextMonth {
  background-color: #ebf3f9;
  background-image: none;
  border-bottom: solid 1px #d2dae8;
  color: #547da1;
}
.claro .dijitCalendarDateTemplate .dijitCalendarDateLabel {
  text-decoration: none;
  display: block;
  padding: 3px 5px 3px 4px;
  border: solid 1px #ffffff;
  color: #1e1e1e;
  background-color: rgba(171, 212, 251, 0);
  -webkit-transition-property: background-color, border;
  -webkit-transition-duration: 0.35s;
}
.claro .dijitCalendarPreviousMonth .dijitCalendarDateLabel {
  color: #547da1;
  border-color: #ebf3f9;
}
.claro .dijitCalendarNextMonth .dijitCalendarDateLabel {
  color: #547da1;
  border-color: #ebf3f9;
}
.claro .dijitCalendarYearContainer { vertical-align: middle; }
.claro .dijitCalendarYearControl { padding: 1px 2px 2px 2px; }
.claro .dijitCalendarYearLabel {
  padding: 2px 0px 0px 0px;
  margin: 0;
}
.claro .dijitCalendarYearLabel span { vertical-align: middle; }
.claro .dijitCalendarSelectedYear {
  padding: 0px 3px;
  font-size: 1.091em;
  color: #000000;
}
.claro .dijitCalendarNextYear {
  padding: 1px 6px 1px 6px;
  font-size: 0.909em;
}
.claro .dijitCalendarPreviousYear {
  padding: 1px 6px 1px 6px;
  font-size: 0.909em;
}
.claro .dijitCalendarHoveredDate .dijitCalendarDateLabel {
  background-color: #abd4fb;
  border: solid 1px #729dc2;
  color: #000000;
  -webkit-transition-duration: 0.2s;
}
.claro .dijitCalendarNextYearHover {
  color: #000000;
  border: solid 1px #fefefe;
  padding: 0px 5px 0px 5px;
  background-color: #eaf4fe;
}
.claro .dijitCalendarPreviousYearHover {
  color: #000000;
  border: solid 1px #fefefe;
  padding: 0px 5px 0px 5px;
  background-color: #eaf4fe;
}
.claro .dijitCalendarNextYearActive {
  border: solid 1px #87b3d9;
  padding: 0px 5px 0px 5px;
  background-color: #90bde6;
}
.claro .dijitCalendarPreviousYearActive {
  border: solid 1px #87b3d9;
  padding: 0px 5px 0px 5px;
  background-color: #90bde6;
}
.claro .dijitCalendarActiveDate .dijitCalendarDateLabel {
  background-image: url("images/calendarContainerImages.png");
  background-position: 0px -300px;
  background-color: #75b5f0;
  border: solid 1px #ffffff;
  -webkit-transition-duration: 0.1s;
}
.claro .dijitCalendarSelectedDate .dijitCalendarDateLabel {
  color: #000000;
  background-color: #e7f4ff;
  border-color: #accfed;
}
.claro .dijitCalendarDisabledDate .dijitCalendarDateLabel {
  text-decoration: line-through;
  background-color: transparent;
  border-width: 0px;
  padding: 4px 6px 4px 5px;
  color: #547da1;
}
.claro .dijitCalendar .dijitDropDownButton { margin: 0px; }
.claro .dijitCalendar .dijitButtonText { padding: 0px; }
.claro .dijitCalendar .dijitDropDownButton .dijitButtonNode {
  background-color: transparent;
  background-image: none;
  padding: 0px;
}
.claro .dijitCalendarMonthMenu {
  border-color: #769dc0;
  background-color: #ffffff;
  text-align: center;
  background-image: none;
}
.claro .dijitCalendarMonthMenu .dijitCalendarMonthLabel {
  border-top: solid 1px #ffffff;
  border-bottom: solid solid 1px #ffffff;
  padding: 2px 0px;
}
.claro .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover {
  background-color: #abd6ff;
  border-color: #769dc0;
  border-width: 1px 0px;
  background-image: url("images/commonHighlight.png");
  background-repeat: repeat-x;
}
.dj_ie6 .claro .dijitCalendar { background-image: none; }
.dj_ie6 .claro .dijitCalendarIncrementControl { background-image: url("images/calendarArrows8bit.png"); }
.dj_ie6 .claro .dijitCalendarDateTemplate { background-image: none; }
.dj_ie6 .claro .dijitCalendarActiveDate .dijitCalendarDateLabel { background-image: none; }
