/* ========= Styling rules to affect widgets ========= */

@import 'variables';
@import 'mixins';

// CSS
.claro {	
	.dijitPopup {
		.boxShadow(@shadowHor, @shadowVer, @shadowBlur, @shadowColor);
	}
	.dijitTooltipDialogPopup {
		/* exception popups: do not use a shadow on these because they aren't rectangular */
		// TODO: I dont really like this. used to be 'box-shadow: none;', which seems neater
		.boxShadow(@none, @none, @none);
	}

	/* The highlight is shown in the ComboBox menu. */
	.dijitComboBoxHighlightMatch {
		background-color:#a5beda;
	}

	.dijitFocusedLabel {
		/* for checkboxes or radio buttons, hatch border around the corresponding label, to indicate focus */
		/* 
		 * TODO: Rather than use #666 it would be good to represent as '@color at 40% lightness', so if
		 * @color changes this is reflected. Can't figure out how to do that - my color theory and
		 * knowledge of less operations is not up to scratch yet.
		 */
		outline: @borderWidth dotted #666666;
	}

	.dijitContentPaneLoading {
		background:url('images/loadingAnimation.gif') no-repeat left center;
		padding-left:25px;
	}

	/* .dijitContentPaneError icon renders in a dialog box with the error messsage when  there is an error in a HREF url */
	.dijitContentPaneError {
	    background:url('../../icons/images/commonIconsObjActEnabled.png') no-repeat left center;
	    background-position: -496px; 
		padding-left:25px;
	}

	/* Drag and Drop */
	.dojoDndItemBefore,
	.dojoDndItemAfter{
		border-top: @borderWidth solid @boldBorderColor;
	}
	.dojoDndItemOver {
		cursor:pointer;
		}
	table.dojoDndAvatar {
		border: @borderWidth solid #b5bcc7;
		border-collapse: collapse;
		background-color: @emptyBackground;
		.boxShadow(@shadowHor, @shadowVer, 0.6*@shadowBlur, @shadowColor);
	}
	.dojoDndAvatarHeader td	{ 
		height: 20px;
		padding-left:21px;
	}
	
	.dojoDndAvatarItem td {
		padding: 5px;
	}
}

.claro.dojoDndMove, .claro.dojoDndCopy {
	.dojoDndAvatarHeader {
		background-image: url(images/dnd.png);
		background-repeat: no-repeat;
		background-position:@dndSpriteXStart (@dndSpriteYStart - 19 + 3*@dndSpriteYPeriod);
	}	
}

.claro.dojoDndMove .dojoDndAvatarHeader	{
	background-color: @dndNoDrop; 
	background-position:@dndSpriteXStart (@dndSpriteYStart+3*@dndSpriteYPeriod);
}
.claro.dojoDndCopy .dojoDndAvatarHeader	{
	background-color: @dndNoDrop; 
	background-position:@dndSpriteXStart (@dndSpriteYStart+2*@dndSpriteYPeriod);
}
.claro.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{
	background-color: @dndCanDrop; 
	background-position:@dndSpriteXStart (@dndSpriteYStart+@dndSpriteYPeriod);
}
.claro.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{
	background-color: @dndCanDrop;
	background-position:@dndSpriteXStart @dndSpriteYStart;
}
