#defaults {
	// Colors
	@color: #000000;
	@emptyBackground: #ffffff;


	@boldBorderColor: #769dc0;

	// Others
	@borderWidth: 1px;

	@radius: 4px;	
}


/*

blackrat:claro mrtom$ grep -roe "#[A-F a-f 0-9]*" *ss | awk 'BEGIN{FS=":"}{print $NF}' | sort | uniq -c
  15 #000
   1 #000000
   2 #131313
   1 #1e1e1e
   1 #293a4b
   2 #369
   1 #4a4a4a
   1 #547DA1
   2 #547da1
   1 #666666
   1 #729dc2
   1 #75b5f0
   1 #768dc0
   2 #769DC0
  21 #769dc0
   1 #7a7a7a
   7 #7dbefa
   1 #7dd6fa
   1 #818181
   1 #83c0fa
   1 #87b3d9
   1 #90bde6
   2 #97e68d
   1 #99B5CD
   1 #99b5cd
   1 #9dcfff
   1 #9dcfff 
   1 #a5beda
   1 #abd4fb
   9 #abd6ff
   1 #accfed
  12 #b5bcc7
   1 #b5bcc7 
   1 #b7dcff
   1 #c0ccdf
   1 #c3e2fd
   1 #cad2de 
   5 #ccc
   1 #cdcdcd
   1 #cecece
   1 #d2dae8
   2 #d3d3d3
   1 #d4ebff
   1 #d8edff
   1 #dadde1
   1 #e2f1ff
   1 #e3f2ff
   2 #e6e6e7
   1 #e7f4ff
   1 #eaf4fe
   2 #ebf3f9
   1 #eef7ff
   3 #efefef
   1 #f1f1f1
   2 #f2f2f2
   2 #f58383
   1 #f5f5f5
   1 #f6f7fa
   1 #fefefe
  18 #fff
   2 #fff 
   1 #ffffff

*/